#simulador {
    float: right;
    margin-right: 5%;
    background-color: rgba(255, 255, 255, 0.73);
    padding-top: 1.7em;
    padding-right: 1em;
    padding-left: 1em;
}

#simulador label {
    margin-right: 0.3em;
}

#simulador span {
    xmargin-left: 0.7em;
}

#simulador #minutos {
    width: 3.5em;
}

#simulador button {
    margin-left: 0.7em;
    margin-bottom: 0.7em;
}

