#simulador {
    float: right;
    margin-right: 5%;
    background-color: rgba(255, 255, 255, 0.73);
    padding-top: 1.7em;
    padding-right: 1em;
    padding-left: 1em;
}

#simulador label {
    margin-right: 0.3em;
}

#simulador span {
    xmargin-left: 0.7em;
}

#simulador #minutos {
    width: 3.5em;
}

#simulador #btn_simular {
    margin-left: 0.7em;
    margin-bottom: 0.7em;
}

#simulador #btn_simular.btn-outline  {
  background-color: rgba(221, 75, 57, 0.9);
}

#simulador #btn_simular.btn-outline:hover {
  background-color: #fdcc52;
}

.text-falemais {
  color:#3a5794;
}

.btn-outline.like {
  border-color: #3a5794;
  background-color: #3a5794;
}

.btn-outline.like:hover {
  border-color: #1da1f2;
  background-color: #1da1f2;
}